<div class="clear-fix">
			<h2 id="bread-crumbs"><%BREAD_CRUMBS%><%DOCUMENT_TITLE%></h2>
			<div class="tools-r"><%TOOLS_RIGHT_TOP%></div>
			<div class="clear-a"></div>
		</div>	

		<h1 style="margin: 0 0 30px 10px;"><%TITLE%> &nbsp; <img src="images/ico_edit.png" alt="Редактировать запись" title="Редактировать запись" class="ico" onclick="<%ACTION_EDIT%>"/><img src="images/ico_delete.png" alt="Удалить запись" title="Удалить запись" class="ico" onclick="<%ACTION_DELETE%>"/></h1>		

		<div class="data-container">
			<table cellspacing="0" cellpadding="0" class="styled">
				<%CONTENT%>
			</table>
		</div>
		
		<%CHILDS%>