<div class="clear-fix"<%DISPLAYTOP%>>
			<h2 id="bread-crumbs"><%BREAD_CRUMBS%><%DOCUMENT_TITLE%></h2>
			<div class="tools-r"><%TOOLS_RIGHT_TOP%></div>
			<div class="clear-a"></div>
		</div>
		
		<%FILTER%>
		
		<form action="<%ACTION%>" method="post" id="browser-form">
		<div class="clear-fix top-buttons">
			<div class="tools-l"><%TOOLS_LEFT_BOTTOM%></div>
			<div class="tools-r"><%TOOLS_RIGHT_BOTTOM%></div>
			<div class="clear-a"></div>
		</div>
		<div class="clear-fix2">&nbsp;</div>
		
		<div class="table-holder">
			<%TABLE%>
			<div class="edge-lt"></div>
			<div class="edge-rt"></div>
		</div>
		<div class="clear-fix bottom-buttons">
			<div class="tools-l"><%TOOLS_LEFT_BOTTOM%></div>
			<div class="tools-r"><%TOOLS_RIGHT_BOTTOM%></div>
			<div class="clear-a"></div>
		</div>
		<div class="clear-fix2">&nbsp;</div>
		</form>