
		<div class="form<%EVEN%>" id="form<%NUM%>">
			<div class="num-holder"><a href="#anc<%NUM%>" name="anc<%NUM%>"><%NUM%></a></div>
			<div class="label">Title:</div>
			<div class="fld"><span class="inp-text" id="title<%NUM%>"><span class="l"></span><input type="text" name="title[<%NUM%>]" value="<%TITLE%>" maxlength="255"/><span class="r"></span></span></div>
			<div class="reset"></div>
			
			<div class="label">Main element:</div>
			<div class="fld"><span class="inp-text"><span class="l"></span><input type="text" name="lead_element[<%NUM%>]" value="<%LEADELEMENT%>" maxlength="255"/><span class="r"></span></span></div>
			<div class="reset"></div>
			
			<div class="label">Order element:</div>
			<div class="fld"><span class="inp-text"><span class="l"></span><input type="text" name="order_element[<%NUM%>]" value="<%ORDERELEMENT%>" maxlength="255"/><span class="r"></span></span></div>
			<div class="reset"></div>
			
			<div class="label">Order direction:</div>
			<div class="fld"><span class="inp-text"><span class="l"></span><input type="text" name="order_direction[<%NUM%>]" value="<%ORDERIRECTION%>" maxlength="255"/><span class="r"></span></span></div>
			<div class="reset"></div>
			
			<div class="label">Table:</div>
			<div class="fld"><span class="inp-select" id="type<%NUM%>"><span class="l"></span><input type="text" name="table_title[<%NUM%>]" value="<%DEFAULT_TITLE%>" maxlength="255" readonly="readonly" autocomplete="off"/><input type="hidden" name="table[<%NUM%>]" value="<%DEFAULT_VALUE%>"/><span class="r"></span><span class="dropdown"><span class="placeholder"></span><%OPTIONS_TYPE%></span></span></div>
			<div class="reset"></div>
			
			<div class="label">Action code:</div>
			<div class="fld"><span class="inp-text" id="action_code<%NUM%>"><span class="l"></span><input type="text" name="action_code[<%NUM%>]" value="<%ACTIONCODE%>" maxlength="255"/><span class="r"></span></span></div>
			<div class="reset"></div>
							
			<div class="label">Order:</div>
			<div class="fld"><span class="inp-text" id="order<%NUM%>"><span class="l"></span><input type="text" name="order[<%NUM%>]" value="<%ORDER%>" maxlength="255"/><span class="r"></span></span></div>
			<div class="reset"><input type="hidden" name="id[<%NUM%>]" value="<%NUM%>"/></div>
			
		</div>