
		<div class="form<%EVEN%>" id="form<%NUM%>">
			<div class="num-holder"><a href="#anc<%NUM%>" name="anc<%NUM%>"><%NUM%></a></div>
			<div class="label">Title:</div>
			<div class="fld"><span class="inp-text" id="title<%NUM%>"><span class="l"></span><input type="text" name="title[<%NUM%>]" value="<%TITLE%>" maxlength="255"/><span class="r"></span></span></div>
			<div class="reset"></div>
			
			<div class="label">Field:</div>
			<div class="fld"><span class="inp-select"><span class="l"></span><input type="text" name="field_title[<%NUM%>]" value="<%FIELD_DEFAULT_TITLE%>" maxlength="255" readonly="readonly" autocomplete="off"/><input type="hidden" name="field[<%NUM%>]" value="<%FIELD_DEFAULT_VALUE%>"/><span class="r"></span><span class="dropdown"><span class="placeholder"></span><%FIELD_OPTIONS%></span></span></div>
			<div class="reset"></div>
			
			<div class="label">Type:</div>
			<div class="fld"><span class="inp-select"><span class="l"></span><input type="text" name="type_title[<%NUM%>]" value="<%TYPE_DEFAULT_TITLE%>" maxlength="255" readonly="readonly" autocomplete="off"/><input type="hidden" name="type[<%NUM%>]" value="<%TYPE_DEFAULT_VALUE%>"/><span class="r"></span><span class="dropdown"><span class="placeholder"></span><%TYPE_OPTIONS%></span></span></div>
			<div class="reset"></div>
			
			<div class="label">Order:</div>
			<div class="fld"><span class="inp-text"><span class="l"></span><input type="text" name="order[<%NUM%>]" value="<%ORDER%>" maxlength="255"/><span class="r"></span></span></div>
			<div class="reset"></div>
			
			<div class="label">Show:</div>
			<div class="fld"><span class="inp-checkbox<%CB_SHOW%>"><input type="checkbox" name="show[<%NUM%>]"<%SHOW%>/></span></div>
			<div class="reset"><input type="hidden" name="id[<%NUM%>]" value="<%NUM%>"/></div>
			
		</div>