
		<div class="form<%EVEN%>" id="form<%NUM%>">
			<div class="num-holder"><a href="#anc<%NUM%>" name="anc<%NUM%>"><%NUM%></a></div>
			<div class="label">Field name:</div>
			<div class="fld"><span class="inp-text" id="name<%NUM%>"><span class="l"></span><input type="text" name="name[<%NUM%>]" value="" maxlength="255"/><span class="r"></span></span></div>
			<div class="reset"></div>
							
			<div class="label">Type:</div>
			<div class="fld"><span class="inp-select" id="type<%NUM%>"><span class="l"></span><input type="text" name="type_title[<%NUM%>]" value="<%DEFAULT_TITLE%>" maxlength="255" readonly="readonly" autocomplete="off"/><input type="hidden" name="type[<%NUM%>]" value="<%DEFAULT_VALUE%>"/><span class="r"></span><span class="dropdown"><span class="placeholder"></span><%OPTIONS_TYPE%></span></span></div>
			<div class="reset"><input type="hidden" name="id[<%NUM%>]" value="<%NUM%>"/></div>
			
		</div>