<div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <a href="index.php?module=records2&document_id=46" class="dashboard-stat dashboard-stat-v2 blue">
                                <div class="visual">
                                    <i class="fa fa-comments"></i>
                                </div>
                                <div class="details">
                                    <div class="number">
                                        <span data-value="<%VALUE1%>" data-counter="counterup"><%VALUE1%></span><%UNIT1%>
                                    </div>
                                    <div class="desc"> <%TITLE1%> </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <a href="index.php?module=records&document_id=56" class="dashboard-stat dashboard-stat-v2 red">
                                <div class="visual">
                                    <i class="fa fa-bar-chart-o"></i>
                                </div>
                                <div class="details">
                                    <div class="number">
                                        <span data-value="<%VALUE2%>" data-counter="counterup"><%VALUE2%></span><%UNIT2%>
									</div>
                                    <div class="desc"> <%TITLE2%> </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <a href="index.php?module=records2&document_id=32" class="dashboard-stat dashboard-stat-v2 green">
                                <div class="visual">
                                    <i class="fa fa-shopping-cart"></i>
                                </div>
                                <div class="details">
                                    <div class="number">
                                        <span data-value="<%VALUE3%>" data-counter="counterup"><%VALUE3%></span><%UNIT3%>
                                    </div>
                                    <div class="desc"> <%TITLE3%> </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <a href="index.php?module=records2&document_id=48" class="dashboard-stat dashboard-stat-v2 purple">
                                <div class="visual">
                                    <i class="fa fa-globe"></i>
                                </div>
                                <div class="details">
                                    <div class="number"> +
                                        <span data-value="<%VALUE4%>" data-counter="counterup"><%VALUE4%></span><%UNIT4%>
									</div>
                                    <div class="desc"> <%TITLE4%> </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="clear-fix2" style="height: 123px;">&nbsp;</div>