<h2>Element &#171;<%ELEMENT_TITLE%>&#187; properties</h2>
		<form action="index.php?module=elements&act=SetProperties&element_id=<%ELEMENT_ID%>" method="post" onsubmit="if(envIsSubmit(this,event)){propSendForm(this);}return false;">
		<div class="form" id="form">
			<%CONTENT%>
			
			<div class="btn-common"><span class="btn" onclick="domD(currPopup);hideCover();currPopup=null;"><span class="l"></span><input type="button" value="Cancel"/><span class="r"></span></span> <span class="btn lead"><span class="l"></span><input type="submit" value="Save"/><span class="r"></span></span></div>
		</div>
		</form>