<h2>Create account</h2>
		<form action="index.php?module=users&act=AddUser" method="post" onsubmit="if(envIsSubmit(this,event)){userAddSendForm(this);}return false;">
		<div class="form" id="form">
			<div class="label">User name:</div>
			<div class="fld"><span class="inp-text"><span class="l"></span><input type="text" name="name" value="" maxlength="255" id="fst-input"/><span class="r"></span></span></div>
			<div class="reset"></div>
			
			<div class="label">Login:</div>
			<div class="fld"><span class="inp-text"><span class="l"></span><input type="text" name="login" value="" maxlength="255"/><span class="r"></span></span></div>		
			<div class="reset"></div>
			
			<div class="label">Password:</div>
			<div class="fld"><span class="inp-text"><span class="l"></span><input type="text" name="password" value="" maxlength="255"/><span class="r"></span></span></div>
			<div class="reset"></div>
							
			<div class="label">Status:</div>
			<div class="fld"><span class="inp-select"><span class="l"></span><input type="text" name="status_title" value="<%DEFAULT_TITLE%>" maxlength="255" readonly="readonly" autocomplete="off"/><input type="hidden" name="status" value="<%DEFAULT_VALUE%>"/><span class="r"></span><span class="dropdown"><span class="placeholder"></span><%OPTIONS_TYPE%></span></span></div>		
			<div class="reset"><input type="hidden" name="id" value="1"/></div>
			
			<div class="btn-common"><span class="btn" onclick="domD(currPopup);hideCover();currPopup=null;"><span class="l"></span><input type="button" value="Cancel"/><span class="r"></span></span> <span class="btn lead"><span class="l"></span><input type="submit" value="Save"/><span class="r"></span></span></div>
		</div>
		</form>