
		<div class="form<%EVEN%>" id="form<%NUM%>">
			<div class="num-holder"><a href="#anc<%NUM%>" name="anc<%NUM%>"><%NUM%></a></div>
			<div class="label">Table name:</div>
			<div class="fld"><span class="inp-text" id="name<%NUM%>"><span class="l"></span><input type="text" name="name[<%NUM%>]" value="" maxlength="255"/><span class="r"></span></span></div>
			<div class="reset"></div>
							
			<div class="label">Order:</div>
			<div class="fld"><span class="inp-text" id="order<%NUM%>"><span class="l"></span><input type="text" name="order[<%NUM%>]" value="" maxlength="255"/><span class="r"></span></span></div>
			<div class="reset"><input type="hidden" name="id[<%NUM%>]" value="<%NUM%>"/></div>
			
		</div>