@font-face {
    font-family: 'Geometria';
    src: url('../fonts/geometria-extrabold.eot');
    src: url('../fonts/geometria-extrabold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/geometria-extrabold.svg#Geometria') format('svg'),
    url('../fonts/geometria-extrabold.woff2') format('woff2'),
    url('../fonts/geometria-extrabold.woff') format('woff'),
    url('../fonts/geometria-extrabold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'Geometria';
    src: url('../fonts/geometria-bold.eot');
    src: url('../fonts/geometria-bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/geometria-bold.svg#Geometria') format('svg'),
    url('../fonts/geometria-bold.woff2') format('woff2'),
    url('../fonts/geometria-bold.woff') format('woff'),
    url('../fonts/geometria-bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Geometria';
    src: url('../fonts/geometria-medium.eot');
    src: url('../fonts/geometria-medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/geometria-medium.svg#Geometria') format('svg'),
    url('../fonts/geometria-medium.woff2') format('woff2'),
    url('../fonts/geometria-medium.woff') format('woff'),
    url('../fonts/geometria-medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Geometria';
    src: url('../fonts/geometria.eot');
    src: url('../fonts/geometria.eot?#iefix') format('embedded-opentype'),
    url('../fonts/geometria.svg#Geometria') format('svg'),
    url('../fonts/geometria.woff2') format('woff2'),
    url('../fonts/geometria.woff') format('woff'),
    url('../fonts/geometria.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}