<div id="bl-prices-table">
				<div class="holder">
					<h2><%TITLE%></h2>

					<%TEXT%>

					<div class="table">
						<table cellspacing="0" cellpadding="0">
							<colgroup>
								<col class="title"/></col>
								<col></col>
								<col></col>
								<col></col>
							</colgroup>
							<tbody>
								<tr class="companies">
									<td></td>									
									<td rowspan="2" class="active"><a href="#"><span class="flex"><img src="assets/images/_sro_logo1.png" alt="#" title="#" class="logo"></span>Содружество</a></td>
									<td rowspan="2"><a href="#"><span class="flex"><img src="assets/images/_sro_logo2.png" alt="#" title="#" class="logo"></span> Мир</a></td>
									<td rowspan="2"><a href="#"><span class="flex"><img src="assets/images/_sro_logo3.png" alt="#" title="#" class="logo"></span> НФА</a></td>
								</tr>
								<tr class="empty">
									<td class="title">Название СРО</td>
								</tr>
								<tr>
									<td class="title">Номер в госреестре</td>
									<td class="active">235543</td>
									<td>105600</td>
									<td>0672355</td>
								</tr>
								<tr>
									<td class="title">Вступительный взнос</td>
									<td class="active">5 000 р</td>
									<td>5 000 р</td>
									<td>5 000 р</td>
								</tr>
								<tr>
									<td class="title">Целевой взнос</td>
									<td class="active">6 000 р</td>
									<td>6 000 р</td>
									<td>6 000 р</td>
								</tr>
								<tr>
									<td class="title">Членский взнос</td>
									<td class="active">12 000 р</td>
									<td>12 000 р</td>
									<td>12 000 р</td>
								</tr>
								<tr>
									<td class="title">Компенсационный фонд</td>
									<td class="active">5 000 000 р</td>
									<td>5 000 000 р</td>
									<td>5 000 000 р</td>
								</tr>
								<tr class="summary">
									<td class="title">Итого</td>
									<td class="active"><span>110 000 р</span> <button class="btn">Оформить СРО</button></td>
									<td><span>115 000 р</span> <button class="btn">Оформить СРО</button></td>
									<td><span>120 000 р</span> <button class="btn">Оформить СРО</button></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>