<div id="bl-prices-table" class="hidden">
				<div class="holder">
					<h2><%TITLE%></h2>

					<div class="table">
						<table cellspacing="0" cellpadding="0">
							<colgroup>
								<col class="title"/></col>
							</colgroup>
							<tbody>
								<tr class="companies">
									<td></td>
								</tr>
								<tr class="empty">
									<td class="title">Название СРО</td>
								</tr>
								<tr>
									<td class="title">Номер в госреестре</td>
								</tr>
								<tr>
									<td class="title">Вступительный взнос</td>
								</tr>
								<tr>
									<td class="title">Целевой взнос</td>
								</tr>
								<tr>
									<td class="title">Членский взнос</td>
								</tr>
								<tr class="summary">
									<td class="title">Итого</td>
								</tr>
							</tbody>
						</table>

						<div class="arr-prev disabled" id="prices-arr-prev"></div>
						<div class="arr-next" id="prices-arr-next"></div>
					</div>

					<div class="mob-edge"></div>
				</div>
			</div>