<div id="banner">
			<div class="holder">
				<div class="wrap">
					<div class="slide">
						<div class="inner">
							<div class="photo animated fadeIn slow <%CLASS%>"><img src="<%IMAGE%>" alt="<%ALT%>" title="<%ALT%>"></div>
							<div class="info">
								<div class="flex-inner">
									<div class="inner">
										<h1 class="animated fadeInRightSmall fast"><%HEADER%></h1>
										<%PRICEHEADER%>
										<%SUBHEADER%>
										<div class="btn-line">
											<a href="#bl-calculator" class="js-attempt" data-modal="modal-whatcost"><button class="btn animated fadeInUp delay-06s"><%BUTTON1%></button></a>
											<a href="#modal-consultation" class="js-modal-link"><button class="btn type2 animated fadeInUp delay-09s"><%BUTTON2%></button></a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>