<div id="bl-insurance-company">
				<div class="holder">
					<div class="wrap">
						<h2><%TITLE%></h2>

						<div class="logo"><a href="#"><img src="assets/images/insurance_logo.png" alt="#" title="#"></a></div>
						<div class="text">
							<%CONTENT%>
						</div>
						<div class="chars">
							<ul>
								<li>
									<div class="label">Уставной капитал</div>
									<div class="value">1,02</div>
									<div class="mp">млрд. руб</div>
								</li>
								<li>
									<div class="label">Активы компании</div>
									<div class="value">5,4</div>
									<div class="mp">млрд. руб</div>
								</li>
								<li>
									<div class="label">Рейтинг RAEX</div>
									<div class="value">ruА+</div>
								</li>
							</ul>
						</div>
						<div class="download">
							<div class="doc">
								<a href="/files/Strahovanie.pdf">Скачать пример договора</a>
							</div>
						</div>
					</div>
				</div>
			</div>