<div id="bl-programms">
				<div class="holder">
					<h2><%TITLE%></h2>
					<div class="text">
						<%CONTENT%>
					</div>

					<div class="tabs">
						<ul>
							<li class="tab-act"><a href="#programms-builders">Строителям</a></li><!--
							--><li><a href="#programms-projecters">Проектировщикам</a></li><!--
							--><li><a href="#programms-prospectors">Изыскателям</a></li>
						</ul>
					</div>

					<div class="body">
						<div class="filter">
							<input type="text" name="keyword" placeholder="Поиск по названию" maxlength="255">
						</div>

						<div id="programms-builders" class="body-content">
							<table cellpadding="0" cellspacing="0">
								<thead>
									<tr>
										<th>Название курса</th>
										<th>Часы</th>
										<th>Стоимость&nbsp;руб. <div class="subscript">Очно/онлайн</div></th>
										<th></th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>Строительство зданий и сооружений гражданского и промышленного назначения	</td>
										<td>72</td>
										<td>8000/6000</td>
										<td class="order"><a href="#modal-callback" class="js-modal-link">Заказать</a></td>
									</tr>
									<tr>
										<td>Геодезические работы на стройплощадках	</td>
										<td>72</td>
										<td>8000/6000</td>
										<td class="order"><a href="#modal-callback" class="js-modal-link">Заказать</a></td>
									</tr>
									<tr>
										<td>Подготовительные работы на строительной площадке	</td>
										<td>72</td>
										<td>8000/6000</td>
										<td class="order"><a href="#modal-callback" class="js-modal-link">Заказать</a></td>
									</tr>
									<tr>
										<td>Работы по закреплению грунтов и свайные работы	</td>
										<td>72</td>
										<td>8000/6000</td>
										<td class="order"><a href="#modal-callback" class="js-modal-link">Заказать</a></td>
									</tr>
									<tr>
										<td>Работы по водопонижению, организации поверхностного стока и водоотвода</td>
										<td>72</td>
										<td>8000/6000</td>
										<td class="order"><a href="#modal-callback" class="js-modal-link">Заказать</a></td>
									</tr>
									<tr>
										<td>Работы по возведению сооружений способом «стена в грунте»	</td>
										<td>72</td>
										<td>8000/6000</td>
										<td class="order"><a href="#modal-callback" class="js-modal-link">Заказать</a></td>
									</tr>
									<tr>
										<td>Работы по искусственному замораживанию грунтов	</td>
										<td>72</td>
										<td>8000/6000</td>
										<td class="order"><a href="#modal-callback" class="js-modal-link">Заказать</a></td>
									</tr>
									<tr>
										<td>Безопасность строительства и качество выполнения общестроительных работ	</td>
										<td>72</td>
										<td>8000/6000</td>
										<td class="order"><a href="#modal-callback" class="js-modal-link">Заказать</a></td>
									</tr>
									<tr>
										<td>Безопасность строительства и качество возведения бетонных и железобетонных строительных конструкций	</td>
										<td>72</td>
										<td>8000/6000</td>
										<td class="order"><a href="#modal-callback" class="js-modal-link">Заказать</a></td>
									</tr>
									<tr>
										<td>Работы по монтажу сборных железобетонных и бетонных конструкций	</td>
										<td>72</td>
										<td>8000/6000</td>
										<td class="order"><a href="#modal-callback" class="js-modal-link">Заказать</a></td>
									</tr>
									<tr>
										<td>Безопасность строительства и качество возведения каменных, металлических и деревянных строительных конструкций	</td>
										<td>72</td>
										<td>8000/6000</td>
										<td class="order"><a href="#modal-callback" class="js-modal-link">Заказать</a></td>
									</tr>
									<tr>
										<td>Работы по монтажу деревянных конструкций	</td>
										<td>72</td>
										<td>8000/6000</td>
										<td class="order"><a href="#modal-callback" class="js-modal-link">Заказать</a></td>
									</tr>
									<tr>
										<td>Работы по устройству каменных конструкций	</td>
										<td>72</td>
										<td>8000/6000</td>
										<td class="order"><a href="#modal-callback" class="js-modal-link">Заказать</a></td>
									</tr>
									<tr>
										<td>Работы по монтажу легких ограждающих конструкций	</td>
										<td>72</td>
										<td>8000/6000</td>
										<td class="order"><a href="#modal-callback" class="js-modal-link">Заказать</a></td>
									</tr>
									<tr>
										<td>Работы по монтажу металлических конструкций</td>
										<td>72</td>
										<td>8000/6000</td>
										<td class="order"><a href="#modal-callback" class="js-modal-link">Заказать</a></td>
									</tr>
									<tr>
										<td>Безопасность строительства и качество выполнения фасадных работ, устройства кровель, защиты строительных конструкций, трубопроводов и оборудования	</td>
										<td>105</td>
										<td>8000/6000</td>
										<td class="order"><a href="#modal-callback" class="js-modal-link">Заказать</a></td>
									</tr>
									<tr>
										<td>Работы по антикоррозийной защите строительных конструкций и оборудования	</td>
										<td>105</td>
										<td>8000/6000</td>
										<td class="order"><a href="#modal-callback" class="js-modal-link">Заказать</a></td>
									</tr>
									<tr>
										<td>Работы по гидроизоляции строительных конструкций	</td>
										<td>72</td>
										<td>8000/6000</td>
										<td class="order"><a href="#modal-callback" class="js-modal-link">Заказать</a></td>
									</tr>
									<tr>
										<td>Безопасность строительства и качество устройства инженерных систем и сетей</td>
										<td>72</td>
										<td>8000/6000</td>
										<td class="order"><a href="#modal-callback" class="js-modal-link">Заказать</a></td>
									</tr>
									<tr>
										<td>Работы по сооружению опускных колодцев и кессонов	</td>
										<td>72</td>
										<td>8000/6000</td>
										<td class="order"><a href="#modal-callback" class="js-modal-link">Заказать</a></td>
									</tr>
									<tr>
										<td>Работы по монтажу наружных инженерных сетей и коммуникаций	</td>
										<td>72</td>
										<td>8000/6000</td>
										<td class="order"><a href="#modal-callback" class="js-modal-link">Заказать</a></td>
									</tr>
									<tr>
										<td>Работы по устройству внутренних инженерных систем и оборудования	</td>
										<td>72</td>
										<td>8000/6000</td>
										<td class="order"><a href="#modal-callback" class="js-modal-link">Заказать</a></td>
									</tr>
									<tr>
										<td>Безопасность строительства и качество устройства электрических сетей и линий связи	</td>
										<td>72</td>
										<td>8000/6000</td>
										<td class="order"><a href="#modal-callback" class="js-modal-link">Заказать</a></td>
									</tr>
									<tr>
										<td>Устройство наружных электрических сетей</td>
										<td>72</td>
										<td>8000/6000</td>
										<td class="order"><a href="#modal-callback" class="js-modal-link">Заказать</a></td>
									</tr>
									<tr>
										<td>Устройство наружных линий связи, в том числе телефонных, радио и телевидения</td>
										<td>72</td>
										<td>8000/6000</td>
										<td class="order"><a href="#modal-callback" class="js-modal-link">Заказать</a></td>
									</tr>
									<tr>
										<td>Безопасность строительства, реконструкции, капитального ремонта и качество устройства объектов нефтяной и газовой промышленности, устройства скважин	</td>
										<td>72</td>
										<td>8000/6000</td>
										<td class="order"><a href="#modal-callback" class="js-modal-link">Заказать</a></td>
									</tr>
									<tr>
										<td>Устройство скважин	</td>
										<td>72</td>
										<td>8000/6000</td>
										<td class="order"><a href="#modal-callback" class="js-modal-link">Заказать</a></td>
									</tr>
									<tr>
										<td>Безопасность строительства и качество выполнения монтажных и пусконаладочных работ по видам оборудования и программного обеспечения	</td>
										<td>105</td>
										<td>8000/6000</td>
										<td class="order"><a href="#modal-callback" class="js-modal-link">Заказать</a></td>
									</tr>
									<tr>
										<td>Монтажные работы	</td>
										<td>72</td>
										<td>8000/6000</td>
										<td class="order"><a href="#modal-callback" class="js-modal-link">Заказать</a></td>
									</tr>
									<tr>
										<td>Пусконаладочные работы</td>
										<td>72</td>
										<td>8000/6000</td>
										<td class="order"><a href="#modal-callback" class="js-modal-link">Заказать</a></td>
									</tr>
									<tr>
										<td>Безопасность строительства и качество выполнения работ по монтажу и пусконаладке лифтов и подъемно-транспортного оборудования	</td>
										<td>105</td>
										<td>8000/6000</td>
										<td class="order"><a href="#modal-callback" class="js-modal-link">Заказать</a></td>
									</tr>
								</tbody>							
							</table>
						</div>
						<div id="programms-projecters" class="body-content">
							<table cellpadding="0" cellspacing="0">
								<thead>
									<tr>
										<th>Название курса</th>
										<th>Часы</th>
										<th>Стоимость&nbsp;руб. <div class="subscript">Очно/онлайн</div></th>
										<th></th>
									</tr>
								</thead>
								<tbody>									
									<tr>
										<td>Работы по закреплению грунтов и свайные работы	</td>
										<td>72</td>
										<td>8000/6000</td>
										<td class="order"><a href="#modal-callback" class="js-modal-link">Заказать</a></td>
									</tr>
									<tr>
										<td>Работы по водопонижению, организации поверхностного стока и водоотвода</td>
										<td>72</td>
										<td>8000/6000</td>
										<td class="order"><a href="#modal-callback" class="js-modal-link">Заказать</a></td>
									</tr>
									<tr>
										<td>Работы по возведению сооружений способом «стена в грунте»	</td>
										<td>72</td>
										<td>8000/6000</td>
										<td class="order"><a href="#modal-callback" class="js-modal-link">Заказать</a></td>
									</tr>
									<tr>
										<td>Работы по искусственному замораживанию грунтов	</td>
										<td>72</td>
										<td>8000/6000</td>
										<td class="order"><a href="#modal-callback" class="js-modal-link">Заказать</a></td>
									</tr>
									<tr>
										<td>Безопасность строительства и качество выполнения общестроительных работ	</td>
										<td>72</td>
										<td>8000/6000</td>
										<td class="order"><a href="#modal-callback" class="js-modal-link">Заказать</a></td>
									</tr>
									<tr>
										<td>Безопасность строительства и качество возведения бетонных и железобетонных строительных конструкций	</td>
										<td>72</td>
										<td>8000/6000</td>
										<td class="order"><a href="#modal-callback" class="js-modal-link">Заказать</a></td>
									</tr>
									<tr>
										<td>Работы по монтажу сборных железобетонных и бетонных конструкций	</td>
										<td>72</td>
										<td>8000/6000</td>
										<td class="order"><a href="#modal-callback" class="js-modal-link">Заказать</a></td>
									</tr>
									<tr>
										<td>Безопасность строительства и качество возведения каменных, металлических и деревянных строительных конструкций	</td>
										<td>72</td>
										<td>8000/6000</td>
										<td class="order"><a href="#modal-callback" class="js-modal-link">Заказать</a></td>
									</tr>
									<tr>
										<td>Работы по монтажу деревянных конструкций	</td>
										<td>72</td>
										<td>8000/6000</td>
										<td class="order"><a href="#modal-callback" class="js-modal-link">Заказать</a></td>
									</tr>
									<tr>
										<td>Работы по устройству каменных конструкций	</td>
										<td>72</td>
										<td>8000/6000</td>
										<td class="order"><a href="#modal-callback" class="js-modal-link">Заказать</a></td>
									</tr>
									<tr>
										<td>Работы по монтажу легких ограждающих конструкций	</td>
										<td>72</td>
										<td>8000/6000</td>
										<td class="order"><a href="#modal-callback" class="js-modal-link">Заказать</a></td>
									</tr>
									<tr>
										<td>Работы по монтажу металлических конструкций</td>
										<td>72</td>
										<td>8000/6000</td>
										<td class="order"><a href="#modal-callback" class="js-modal-link">Заказать</a></td>
									</tr>
									<tr>
										<td>Безопасность строительства и качество выполнения фасадных работ, устройства кровель, защиты строительных конструкций, трубопроводов и оборудования	</td>
										<td>105</td>
										<td>8000/6000</td>
										<td class="order"><a href="#modal-callback" class="js-modal-link">Заказать</a></td>
									</tr>
								</tbody>							
							</table>
						</div>
						<div id="programms-prospectors" class="body-content">
							<table cellpadding="0" cellspacing="0">
								<thead>
									<tr>
										<th>Название курса</th>
										<th>Часы</th>
										<th>Стоимость&nbsp;руб. <div class="subscript">Очно/онлайн</div></th>
										<th></th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>Строительство зданий и сооружений гражданского и промышленного назначения	</td>
										<td>72</td>
										<td>8000/6000</td>
										<td class="order"><a href="#modal-callback" class="js-modal-link">Заказать</a></td>
									</tr>
									<tr>
										<td>Геодезические работы на стройплощадках	</td>
										<td>72</td>
										<td>8000/6000</td>
										<td class="order"><a href="#modal-callback" class="js-modal-link">Заказать</a></td>
									</tr>
									<tr>
										<td>Подготовительные работы на строительной площадке	</td>
										<td>72</td>
										<td>8000/6000</td>
										<td class="order"><a href="#modal-callback" class="js-modal-link">Заказать</a></td>
									</tr>
									<tr>
										<td>Работы по закреплению грунтов и свайные работы	</td>
										<td>72</td>
										<td>8000/6000</td>
										<td class="order"><a href="#modal-callback" class="js-modal-link">Заказать</a></td>
									</tr>
								</tbody>							
							</table>
						</div>
					</div>
				</div>
			</div>