<section id="content">
			<div class="holder">
				<div id="contacts">
					<h1><%TITLE%></h1>
					
					<div class="flex">
						<ul>
							<li class="tel">
								<div class="label">Телефоны:</div>
								<a href="tel:<%PHONENUMBERLINK1%>"><%PHONENUMBER1%> <span class="comment">(Звонок бесплатный по всей РФ)</span></a>
								<a href="tel:<%PHONENUMBERLINK2%>"><%PHONENUMBER2%></a>
							</li>
							<li class="email">
								<div class="label">E-mail:</div>
								<a href="mailto:<%ADMINEMAIL1%>"><%ADMINEMAIL1%></a>
								<a href="mailto:<%ADMINEMAIL2%>"><%ADMINEMAIL2%></a>
							</li>
							<li class="address">
								<div class="label">Адрес:</div>
								<div><%ADDRESS%></div>
							</li>
							<li class="address">
								<div class="label">Режим работы:</div>
								<div><%SCHEDULE%></div>
							</li>
						</ul>

						<div id="map">
							<%MAP%>
						</div>
					</div>

					<div class="requisites">
						<%CONTENT%>
					</div>
				</div>
			</div>
		</section>