<li<%ACTIVE%>>
							<div class="photo animated fadeIn <%CLASS%>"><img src="<%IMAGE%>" alt="<%ALT%>" title="<%ALT%>"></div>
							<div class="info">
								<div class="flex-inner">
									<div class="inner">
										<h1 class="animated fadeInRightSmall fast"><%HEADER%></h1>
										<p class="animated fadeInRightSmall fast delay-03s"><%SUBHEADER%></p>
										<div class="btn-line">
											<a href="#bl-calculator" class="js-attempt" data-modal="modal-whatcost"><button class="btn animated fadeInUp delay-06s"><%BUTTON1%></button></a>
											<a href="<%LINK%>"><button class="btn type2 animated fadeInUp delay-09s"><%BUTTON2%></button></a>
										</div>
									</div>
								</div>
							</div>
						</li>
